.App {
  width: 100%;
}

.page {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif, Arial;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
}
