.card {
  background: rgb(252, 252, 253);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 6px;
  box-shadow: 0 0.5px 2px rgb(16 24 40 / 70%);
  cursor: -webkit-grab;
  cursor: grab;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* max-width: 320px; */
  /* min-width: 100%; */
  /* overflow: hidden;   */
  padding: 5px;
  position: relative;
  touch-action: auto;
  transition: 0.2s;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.card:hover {
  background: rgb(240, 248, 255);
}

.card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__heading {
  margin: 0;
}

.card__header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__priority {
  align-items: center;
  border-radius: 5px;
  display: flex;
  line-height: 16px;
  font-size: 15px;
  height: 20px;
  margin: 0;
}

.card__time {
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: rgb(152, 162, 179);
}

.card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
}
.card__info-text {
  display: flex;
  flex-direction: column;
}

.card__info-buttons {
  opacity: 0;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.card:hover .card__info-buttons {
  opacity: 1;
}

.card__edit-button {
  background: url(../../images/edit-button.png) center no-repeat;
}

.card__delete-button {
  background: url(../../images/delete-button.png) center no-repeat;
}

.card__comment-button {
  background: url(../../images/comments-button.png) center no-repeat;
}

.card__attachment-button {
  background: url(../../images/attachment-button.png) center no-repeat;
}

.card__button {
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  border: none;
  transition: all 0.3s ease;
}

.card__button:hover {
  transform: scale(1.2);
}

.card__id {
  color: rgb(152, 162, 179);
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
  width: 100%;
  margin: 0;
  text-align: left;
}

.card__date {
  color: rgb(152, 162, 179);
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
  width: 100%;
  margin: 0;
  text-align: left;
}

.card__info {
  margin: 0;
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__footer-action {
  position: relative;
}

.card__footer-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.card__footer-more {
  border: none;
  background: transparent;
  cursor: pointer;
}

.card__footer-menu {
  display: none;
  flex-direction: row;
  gap: 5px;
  position: absolute;
  bottom: 15px;
  right: 0;
  padding: 10px;
  background: rgb(152, 162, 179);
  transition: all 0.3s ease;
  border-radius: 6px;
}

.card__footer-menu:before {
  content: "";
  position: absolute;
  display: inline-block;
  left: auto;
  right: 1px;
  bottom: -15px;
  border: 8px solid transparent;
  border-top: 10px solid #98a2b3;
}

.card__footer-menu_active {
  display: flex;
}

.card__footer-button {
  margin: 0;
  background: rgb(240, 248, 255);
  border: 1px solid rgb(240, 248, 255);
  border-radius: 6px;
  box-shadow: unset;
  cursor: pointer;
  font-size: 12px;
  align-items: center;
}
